{% extends "public_assets.html" %}
{% block content %}
      <main class="container">
          <nav class="navbar row my-3">
              <div class="col-lg-4">
                <img class="img-fluid logo" src="{{ url_for('static', filename='assets/images/logo.png')}}" alt="">
              </div>
              <div class="col-lg-8">
                  <ul>
                      <li class="colorType1">Deals</li>
                      <li class="colorType1">Plan Your Trip</li>
                      <li class="colorType1">Experience</li>
                      <li class="colorType1">Destinations</li>
                      <li class="colorType1" id="enrich">Enrich</li>
                      <li class="colorType1">AskMH</li>
                      <li class="colorType1"><img class="img-fluid en" src="{{ url_for('static', filename='assets/images/en.png')}}" alt=""> EN</li>
                      <li class="colorType1"><i class="bi bi-search colorType1 font-weight-bold" id="searchIcon"></i></li>
                  </ul>
              </div>
          </nav>
          <div class="menuContainer row colorType3">
            <div class="col-lg-8">
                <ul>
                    <li class="menuList">Flights</li>
                    <li class="menuList">Flight + Home</li>
                    <li class="menuList">Manage</li>
                    <li class="menuList">Check-in</li>
                    <li class="menuList">Flight Status</li>
                    <li class="menuList">Upgrade Travel Option</li>
                </ul>
            </div>
            <!-- <div class="col-lg-4">
                <button class="loginBtn">Log In/Sign Up</button>
            </div> -->
          </div>
      </main>

  {% endblock content %}

   
