
.colorType1{
    color:#14467b;
}
.colorType2{
    color: #015aaa;
}
.colorType3{
    color: #002b5d;
}
.colorType4{
    color: #757981;
}
.colorType5{
    color: #fff;
}
.colorType6{
    color: #e5e5e5;
}
.colorType7{
    color: #d2d2d2;
}
.colorType8{
    color: #c2c2c2;
}
.colorType9{
    color: #b5b5b5;
}

/*-------- Background Colors------------ */
.bgType1{
    background-color: #f5f6f8;
}
.bgType2{
    background-color: #fafbfd;
}
.bgType3{
    background-color: #002b5d;
}
.bgType4{
    background-color: #eaf6ff;;
}
.bgType5{
    background-color: #eaf6ff;
}
.bgType6{
    background-color: #fff;
}
.bgType7{
    background-color: #f0f7fd;
}
.bgType8{
    background-color: #f7f7f7;
}   
.bgType9{
    background-color: #015aaa;
}
.bgType10{
    background-color: #fcfcfc;
    
}